<!doctype html>
<html>
	<body>

		<center>
		<header> <h1> Records </h1> </header>
		<br> <br>
		<h1> </h1>
		<br>
		<label><h2>Display the no of records:</h2></label><br>
        <form action = "{{ url_for('options') }}" method = "POST"> 
		  <label>Enter number:</label>
          <input type = "text"                 
				 name = "num"
                  />
		  <label>Enter First letter of the net id:</label>
         <input type = "text"                 
				 name = "loc"
                  />
 	  
		  <br>
		  <br>
				 
		  <input type = "submit" value = "submit" /><br>	
		  </form>
    </body>
</html>
        